/* Colors */
$background: #F5F5F5;
$text: #333;
$text-inverse: #CCC;
$link: #A00;
$border: #DDD;
$button: #59B200;
$white: #FFF;
$black: #000;

@import "compass";
@import "compass/css3";
@import "compass/utilities";

@import "boilerplate";
@import "elements";
@import "structure";
@import "components";
@import "queries";
