@import url(https://fonts.googleapis.com/css?family=Rubik+One);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0px;
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*!normalize.css v3.0.3|MIT License|necolas.github.io/normalize.css*/
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
  text-transform: none;
}

select {
  text-transform: none;
}

button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-button {
  background: #D72A2A;
  height: 18px;
}

::-webkit-scrollbar-track-piece {
  background-color: #444;
}

::-webkit-scrollbar-thumb {
  background: #D72A2A;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  border: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

img {
  -ms-interpolation-mode: bicubic;
}

#wrapper {
  max-width: 1403px;
  margin: 0 auto;
  background-color: #FFF;
}

.half {
  display: inline-block;
  width: 50%;
  text-align: center;
  vertical-align: top;
}

header {
  height: 100%;
  background: #FFD255;
  padding: 0px 0px 5px 0px;
  text-align: center;
}

header img {
  position: relative;
  top: 38%;
  padding: 0px 10px;
}

main {
  background: #F5D4D4;
}

img {
  max-width: 100%;
}

h1 {
  margin: 70px 0px 30px 0px;
  color: #821919;
  font-family: "Rubik One", sans-serif;
  font-size: 40px;
}

iframe {
  border: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 400px;
}

section {
  font-size: 0px;
}

.video-container {
  background-color: #000;
}

#downloads {
  margin: 0px auto;
  padding-bottom: 20px;
}

#downloads a {
  width: 250px;
  display: inline-block;
  background: #FFD255;
  margin: 10px 10px 10px 10px;
  padding: 20px;
  color: #D72A2A;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

#downloads a:hover {
  background: #DD8D4B;
  color: #EBE2DB;
}

footer {
  max-width: 850px;
  margin: 0px auto;
  padding: 10px 0px 0px 0px;
  background-color: #FFF;
  text-align: center;
}

footer div {
  display: inline-block;
  width: 220px;
  margin: 0px 0px 20px 0px;
  text-align: left;
  vertical-align: top;
}

footer div:last-of-type {
  margin-bottom: 50px;
}

footer h3 {
  font-family: "Rubik One", sans-serif;
  font-size: 20px;
  margin: 10px 0px;
}

footer a {
  display: block;
  padding: 0px 15px;
  color: #400;
  text-decoration: none;
}

@media screen and (max-width: 1090px) {
  #downloads {
    max-width: 80%;
  }
  .half {
    width: 100%;
  }
}
