#downloads
    margin: 0px auto
    padding-bottom: 20px
    a
        width: 250px
        display: inline-block
        background: $mustard
        margin: 10px 10px 10px 10px
        padding: 20px
        color: $ketchup
        font-size: 18px
        font-family: sans-serif
        font-weight: 900
        text-decoration: none
        &:hover
            background: $puppySpot
            color: $puppyBase
