//.homepage

main
    min-height: 500px
    background-color: #FAA

img
    max-width: 100%

h1
    font-family: $logo-font

#downloads
    a
        display: inline-block
        background: #F88
        padding: 20px
        color: #600
        text-decoration: none
        &:hover
            background: #F66
            color: #800
